<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
</head>
<body>
    <h1>login</h1>
    <form action="/ex/login" method="post">
        아이디<input name="userId" type="text" placeholder="아이디를 입력하세요." />
        비번<input name="userPw" type="text" placeholder="비밀번호를 입력하세요." />
        <button type="submit">전송</button>
    </form>
</body>
</html>